/build/
/bin/
target/
.DS_Store
*.class
*.jar
*.war
*.ear
*.db
Thumbs.db 
Desktop.ini
.DS_Store
.svn
._*
.Spotlight-V100
.Trashes 
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
/src/main/resources/rebel.xml
# External tool builders
.externalToolBuilders/
*.launch
.cproject
.buildpath
project.properties
build.xml